
<p style="text-align: left;">Fecha: {{fecha}}<img style="float: right;" src="{{url}}" alt="Archivo:Firma Len&iacute;n Moreno Garc&eacute;s.png - Wikipedia, la ..." width="171" height="91" /></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">Pdf de prueba</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: justify;">Se&ntilde;or :&nbsp;&nbsp; {{username}}</p>
<p style="text-align: justify;"><strong>Lorem Ipsum</strong>&nbsp;es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno est&aacute;ndar de las industrias desde el a&ntilde;o 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido us&oacute; una galer&iacute;a de textos y los mezcl&oacute; de tal manera que logr&oacute; hacer un libro de textos especimen. No s&oacute;lo sobrevivi&oacute; 500 a&ntilde;os, sino que tambien ingres&oacute; como texto de relleno en documentos electr&oacute;nicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creaci&oacute;n de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y m&aacute;s recientemente con software de autoedici&oacute;n, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>


<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Firma_Len%C3%ADn_Moreno_Garc%C3%A9s.png" alt="Archivo:Firma Len&iacute;n Moreno Garc&eacute;s.png - Wikipedia, la ..." width="171" height="91" /></p>
<p style="text-align: center;"><strong><span style="text-decoration: underline;">Ricardo el finito Lopez con id: {{name}}</span></strong></p>